:root {
    /*colors*/
    --color-text1: black;
    --color-text2: white;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: white;

    /*fonrts*/
    --font-robot: "Roboto";
}